/* 
Yellow Darker : Yellow 500
Yellow : Yellow 400
Yellow clay : Yellow 300
Yellow White : Yellow 200

Blue Darker : Blue 700
Blue : Blue 600
Blue Clay : Blue 400
Blue White : Blue 200

White : White
White Box Upper : Gray 50

Error : Red 500
Error Dark : Red 600 

Check : Emerald 400
Check Dark : Emerald 500
*/

@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}